@model IEnumerable<Filminurk.Models.UserComments.UserCommentsIndexViewModel>

@{
	int rownumber = 1;
}
<div>
	<a asp-action="NewComment" asp-controller="userComments" type="submit" class="btn btn-primary">Make new comment</a>
</div>
<div class="h1">
	Kasutajate arvustused:
</div>
<div>
	<form method="get">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scopr="col">JKN</th>
					<th scopr="col">CommentID</th>
					<th scopr="col">CommentBody</th>
					<th scopr="col">IsHarmful</th>
					<th scopr="col">CommentCreatedAt</th>
				</tr>
			</thead>
		</table>
	</form>
</div>
